<%= form_tag contentful_update_path, method: :post do %>
  <div class="">
    <div class="form-group">
      <%= text_field_tag "Title", @entry.title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= text_area_tag "Copy", @entry.description, class: "form-control", rows: 15 %>
    </div>
    <div>
      <%= submit_tag 'Edit', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
